body {
    background-color: beige;
}

main {
    display: flex;

    min-width: 95%;
    min-height: 90vh;
    
}

#area-esquerda{
    align-items: center;
    background-color: palevioletred;
    flex: 1;
    border-radius: 20px 0px 0px 20px;
    padding: 8px;
}
#area-direita{
    background-color: lightcoral;
    flex: 1;
    border-radius: 0px 20px 20px 0px;
    background-image: url('https://www.rbsdirect.com.br/filestore/4/2/9/6/2/2/5_d91e99327fdfc33/5226924_6b1f553605b8196.jpg?format=webp&w=1024');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  mask-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
}
button{
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background-color: lightpink;
    border: 1px solid red;
}
input{
    height: 35px;
    border-radius: 8px;
    border: 1px solid red;
}
